@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Zen+Kaku+Gothic+New&display=swap');
@font-face {
  font-family: 'Irish Grover';
  src: url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Zen+Kaku+Gothic+New&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Zen+Kaku+Gothic+New&display=swap');
  font-weight: normal;
  font-style: normal;
}
  
#results h5 {
  text-align: center;
  font-family: 'Zen Kaku Gothic New', normal; 
  font-size: 50px;
}
h1 {
  font-family: 'Irish Grover', sans-serif;
  font-size: 75px;
}

.container {
  font-family: 'Zen Kaku Gothic New', normal;
}

body {
    background-image: url("tipbackground.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
  }
  
  .container {
    border-style: outset;
    border-width: 3px;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
  }
  
  .row {
    display: inline;
  }
  
  #results {
      display:none;
      text-align: center;
    }
  
  #results h5 {
    text-align: center;
    font-family: 'Zen Kaku Gothic New', normal; 
    font-size: 50px;
  }
  h1 {
    font-family: 'Irish Grover', sans-serif;
    font-size: 80px;
  }
  
  .container {
    font-family: 'Zen Kaku Gothic New', normal;
  }
  